.footer {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 1%;
    &__copy {
        margin-left: 30px;
        margin-top: 5px;
        color: rgb(48, 48, 48);
        font-size: 12px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        margin-right: 25px;
    }
}
