<article class="box-with-text">
    <div class="box-with-text__text box-with-text__text--start">
        <p>{{mainText()}}</p>
    </div>
    <div class="box-with-text__img">
        <img [src]="imageSrc()" alt="Houseplant">
    </div>

    <div class="box-with-text__text box-with-text__text--end">
        @if(showFooterImage()){
            <img [src]="avatarSrc()" alt="Avatar 01">
        }

        <!-- <img *ngIf="showFooterImage" [src]="avatarSrc()" alt="Footer Image">

        <img [src]="avatarSrc()" alt="Avatar 01"> -->
        @if(footerName()) {
            <p [innerHTML]="formatFooterText(footerName()!)"></p>
        }
    </div>
</article>