.box-with-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-size: 20px;
    background-color: white;
    line-height: 1.4;
  
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  
    &__text {
      display: flex;
      align-items: center;
      font-size: 11px;
      width: 100%;
    }
  
    &__text--start {
      justify-content: center;
    }
  
    &__text--end {
      margin: 5px;
      img {
        border-radius: 50%;
        width: 30px;
        background-color: rgb(202, 247, 76);
        margin-right: 10px;
      }
    }
  }

  p{
    font-size: 11px;
    font-family: "IBM Plex Mono", monospace;
  }