<header class="header" role="banner">
    <nav class="header__left" aria-label="Left menu">
        <div class="header__icon">
            <img src="assets/images/favicon-32x32.png" alt="Favicon">
        </div>
        <button class="header__button" aria-label="Selected Work" >Selected Work</button>
        <button class="header__button_icon" aria-label="Information">i</button>
    </nav>

    <nav class="header__right" aria-label="Right menu">
        <app-avatar image="assets/images/avatar-01.webp" avatarClass="header__avatar--red" size="40px"></app-avatar>
        <app-avatar image="assets/images/avatar-02.webp" avatarClass="header__avatar--yellow" size="40px"></app-avatar>
        <app-avatar image="assets/images/avatar-03.webp" avatarClass="header__avatar--lilac" size="40px"></app-avatar>
    </nav>
</header>