<article class="box-small-left">
    <div class="box-small-left__content">
      Hi <span id="dynamic-name">{{dynamicName()}}</span>,
      <app-avatar image="assets/images/avatar-01.webp" avatarClass="header__avatar--red"  size="40px"></app-avatar>
      School is <span class="box-small-left__yellow">(y)our</span> creative studio.
    </div>
    <div>
        <app-button-contact text="schoooooooooooo1" arialabel="Twitter"></app-button-contact>
        <app-button-contact text="infoschoooool.com" arialabel="Email"></app-button-contact>
    </div>
  </article>